{% extends 'core/base.html'%}
{% block content%}
<div class="mt-5 text-warning text-center">
<h1>About</h1>
</div>
<div class="text-white">
    <p ><b>INTRODUCTION: </b></p>
    <p>Facial emotion recognition is the process of detecting human emotions from facial expressions.
    The human brain recognizes emotions automatically, and software has now been developed that can recognize emotions as well. 
    This technology is becoming more accurate all the time and will eventually be able to read emotions as well as our brains do.
    </p>
    <p><b>PROBLEM STATMENT: </b></p>
    <p>Three basics problems need to be solved:</p>
        <p>1. Face detection.</p><p>2. Facial expression data extraction.</p>
	<p>  3. Facial expression classification.</p>
    <p><b>SOLUTION: </b></p>
    <p>1. Given an image, to identify it as a face and extract face images from it.</p>
<p>2. To retrieve the similar images from the given database of face images.</p>
<p>3. Extract the facial expression.</p>
</div>

{% endblock content %}